<section [hidden]="type != 'title'" class="header type-0">
  <ion-header [translucent]="true">
    <ion-toolbar mode="md">
      <ion-title class="text-{{titleAlign}}">{{title}}</ion-title>
    </ion-toolbar>
  </ion-header>
</section>

<section [hidden]="type != 'menu-title'" class="header">
  <ion-header>
    <ion-toolbar class="ion-no-border">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      
      <ion-title class="text-{{titleAlign}}">{{title}}</ion-title>
    </ion-toolbar>
  </ion-header>
</section>

<section [hidden]="type != 'menu-child'" class="header type-3">
  <ion-header [translucent]="true">
    <ion-toolbar class="ion-no-border">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        
        <ion-button (click)="presentActionSheet()">
          <div class="option-child">{{child?.firstName }} <br/><span>({{child.balanceAmount | currencyFormat}})</span></div> <ion-icon name="chevron-down-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</section>

<section [hidden]="type != 'menu'" class="header">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</section>

<section [hidden]="type != 'menu-logo'" class="header type-6">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>

      <img class="img-floating" src="assets/image/svg/logo-header.svg" alt="logo-header"/>
    </ion-toolbar>
  </ion-header>
  </section>

<section [hidden]="type != 'menu-title-icon'" class="header type-7">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      
      <ion-title size="large" class="text-{{titleAlign}}">{{title}}</ion-title>
      
      <ion-buttons [collapse]="true" slot="end" (click)="onActionIcon()">
        <ion-icon slot="end" name="config-theme"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</section>

<section [hidden]="type != 'back-title'" class="header type-1">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ng-content></ng-content>
      </ion-buttons>
      <ion-title class="text-{{titleAlign}}">{{title}}</ion-title>
    </ion-toolbar>
  </ion-header>
</section>
