<app-header [type]="'back-title'" title="Plan Mensual" titleAlign="center">
  <ion-back-button defaultHref="/padre/hijo/preorder"></ion-back-button>
</app-header>

<ion-content [fullscreen]="true">
  <form action="" [formGroup]="form">
    <p>Elige la fecha de inicio</p>
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="6">
          <ion-item class="item-input-form" lines="none">
            <div class="w-100">
              <div class="custom-input">
                <ion-label>Inicio</ion-label>
                <div class="d-flex">
                  <ion-datetime-button datetime="datetime"></ion-datetime-button>

                  <ion-modal [keepContentsMounted]="true" [isOpen]="showCalendar" (didDismiss)="cancelCalendar()">
                    <ng-template>
                      <ion-datetime id="datetime" presentation="date" formControlName="start" [max]="maxDate" [min]="minDate"
                      [isDateEnabled]="isWeekday" [showDefaultButtons]="true" doneText="Aceptar" cancelText="Cancelar">
                      </ion-datetime>
                    </ng-template>
                  </ion-modal>


                  <ion-button fill="clear" slot="end" aria-label="Show/hide" (click)="openCalendar()">
                    <ion-icon slot="icon-only" class="icon-calendar" name="calendar-theme" aria-hidden="true"></ion-icon>
                  </ion-button>
                </div>
              </div>
            </div>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="item-input-form" lines="none" [disabled]="true">
            <div class="w-100">
              <div class="custom-input">
                <ion-label>Fin</ion-label>
                <div class="d-flex">
                  <ion-datetime-button datetime="datetime2"></ion-datetime-button>

                  <ion-modal [keepContentsMounted]="true">
                    <ng-template>
                      <ion-datetime id="datetime2" presentation="date" formControlName="end" [min]="minDate"
                        [max]="maxDate" [isDateEnabled]="isWeekday"></ion-datetime>
                    </ng-template>
                  </ion-modal>


                  <ion-button fill="clear" slot="end" aria-label="Show/hide">
                    <ion-icon slot="icon-only" class="icon-calendar" name="calendar-theme" aria-hidden="true"></ion-icon>
                  </ion-button>
                </div>
              </div>
            </div>
          </ion-item>

        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <ion-grid class="grid-info">
    <ion-row>
      <ion-col class="d-flex ion-justify-content-between">
        <p class="text-subtitle">Valor total:</p>
        <p class="text-price">{{serviceSelected.price | currencyFormat}}</p>
        <p class="text-discount">{{discount | currency :'':'':'1.0-0'}}% Dscto.</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <p class="text-description">
          Por favor revisar las condiciones de entrega de almuerzos en los menús adjuntos.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="grid-download" *ngIf="serviceSelected.archives.length !== 0">
    <ion-row>
      <ion-col size="12">
        <p>Elige la fecha de inicio</p>
      </ion-col>
      <ion-col size="12">
        <a *ngFor="let archive of serviceSelected.archives" class="div-download" [href]="archive.url" target="_blank" download="carta-febrero">
          <ion-icon name="download-theme"></ion-icon>
          Descargar {{serviceSelected.name}} <span style="margin-left: 4px;" class="text-capitalize">{{archive.interval}}</span>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer class="ion-text-center">
  <ion-button expand="" color="primary" class="btn-primary" (click)="confirm()">Pagar</ion-button>
</ion-footer>
