form {
  padding: 0 20px 32px;
  p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 16px;
    color: #283357;
  }
  ion-grid {
    ion-col {
      padding-right: 12.5px;
      &:not(:first-child) {
        padding-left: 12.5px;
        padding-right: 0;
      }
    }
  }
  .custom-input {
    padding: 16px 4px 16px 12px;
    min-height: 100px;
    ion-label {
      margin-bottom: 8px;
    }
    .icon-calendar {
      width: 24px;
      height: 24px;
    }
    ion-datetime-button {
      &::part(native) {
        padding: 0;
        background: transparent;
        font-size: 18px;
        line-height: 20px;
        font-weight: 500;
        text-align: start;
      }
    }
  }
}
.grid-info {
  box-shadow: 4px 4px 10px 0px #161e380f, -4px -4px 10px 0px #161e380f;
  border-radius: 8px;
  margin: 0 20px;
  padding: 11px 10px;
  .text-subtitle {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    color: #454852;
    margin: 0;
  }
  .text-price {
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    color: #454852;
    margin: 0;
  }
  .text-discount {
    font-size: 10px;
    font-weight: 800;
    line-height: 20px;
    text-align: end;
    color: var(--secondary-lagom);
    margin: 0;
  }
  .text-description {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #000000;
    margin: 0;
  }
}
.grid-download {
  border-top: 2px solid #F5F5F5;
  padding: 0 20px;
  margin-top: 32px;
  p {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #283357;
  }
  a.div-download {
    box-shadow: 4px 4px 10px 0px #161E380F, -4px -4px 10px 0px #161E380F;
    border-radius: 4px;
    padding: 8px 16px;
    min-height: 36px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #000000;
    display: flex;
    align-items: center;
    width: fit-content;
    min-width: 264px;
    text-decoration: none;
    margin-bottom: 8px;
    ion-icon {
      width: 20px;
      height: 20px;
      margin-right: 12px;
    }
  }
}
ion-footer {
  padding: 0 0px 50px;
  .btn-primary {
    width: 195px;
  }
}
