<app-header [type]="'menu-child'">
</app-header>
<ion-content>
  <ion-grid class="grid-data">
    <ion-row class="row-filter">
      <ion-col size="12" class="d-flex justify-content-between align-self-center">
        <h6 class="subtitle">Historial de consumos</h6>
        <div class="edit" (click)="presentActionSheet()">
          {{optionSelected.label}}
          <ion-icon name="chevron-down-outline"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="grid-list" *ngIf="consumptionList.length === 0">
    <ion-row>
      <ion-col>
        <p>No hay consumos</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list class="panel-option">
    <ion-accordion-group>
      <ion-accordion *ngFor="let order of consumptionList; let i = index;" [value]="'ORDER-'+ i + order.id" toggleIcon="">
        <ion-item slot="header" color="light" lines="none" class="item-consumption">
          <div class="content-detail">
            <div class="div-title">
              <p *ngIf="order.origin === 'app' && order.planType === 'monthly'"><strong>Consumo Plan Mensual</strong></p>
              <p *ngIf="order.origin === 'app' && order.planType === 'daily'"><strong>Consumo Plan Diario</strong></p>
              <p class="p-head" *ngIf="order.origin === 'web'">
                <strong>
                  {{order.productName ? order.productName : (order.service ? order.service.displayName :'Compra cafetería')}} <span>- {{order.quantity}} unid</span>
                </strong>
              </p>
              <p class="text-date">{{order.date}}</p>
            </div>
            <div class="div-price">
              {{order.amount | currencyFormat}}
            </div>
          </div>
        </ion-item>
        <div class="div-description" slot="content">{{order.description}}</div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)"
    *ngIf="consumptionList?.length && paginate?.current != paginate?.last">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando....">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
