<app-header [type]="'menu-title-icon'" title="Notificaciones" titleAlign="center"
  (actionIcon)="goToConfiguration()"></app-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid class="grid-data">
    <ion-row class="row-filter">
      <ion-col size="12" class="d-flex justify-content-between align-self-center">
        <h6 class="subtitle">Todas las notificaciones</h6>
        <div class="edit" (click)="presentActionSheet()">
          {{optionSelected.label}}
          <ion-icon name="chevron-down-outline"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="grid-list" *ngIf="notificationsList.length === 0">
    <ion-row>
      <ion-col>
        <p>No hay notificaciones </p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-item class="item-notification" lines="none" *ngFor="let notification of notificationsList"
      (click)="confirmContact()">
      <div>
        <p [innerHTML]="notification.body"></p>
        <p class="p-date">{{notification.date}}</p>
      </div>
      <ion-icon slot="end" name="message-theme"></ion-icon>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)"
    *ngIf="notificationsList?.length && paginate?.current != paginate?.last">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando....">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
