.grid-data{
  .row-filter{
    border-bottom: 2px solid #F5F5F5;
    padding: 0px 20px 7px;
  }
  h6{
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #283357;
  }
  .edit{
    font-size: 10px;
    font-weight: 500;
    line-height: 20px;
    color: #000000;
    text-align: end;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    ion-icon{
      width: 16px;
      height: 16px;
      margin-left: 4px;
    }
  }
}
.grid-list{
  padding: 20px;
  p{
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #000000;
    margin: 0;
    text-align: center;
  }
}
ion-list{
  padding: 20px;
  .item-notification{
    box-shadow: 4px 4px 10px 0px #161E380F, -4px -4px 10px 0px #161E380F;
    border-radius: 8px;
    --padding-start: 16px;
    --inner-padding-end: 16px;
    --padding-top: 12px;
    --padding-bottom: 12px;
    margin-bottom: 12px;
    p{
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      color: #000000;
      margin: 0;
      strong{
        font-weight: 600;
      }
      &.p-date{
        margin-top: 8px;
      }
    }
  }
}
