<app-header [type]="'menu-child'"></app-header>
<ion-content class="ion-padding">
  <ng-container *ngFor="let service of servicesList">
    <ion-card *ngIf="service.isActive" class="{{service.slug}}" (click)="validatePlan(service)">
      <ion-card-content>
        <h6 class="subtitle">{{service.name}}</h6>
        <p>{{service.description}}</p>
      </ion-card-content>
    </ion-card>
  </ng-container>
  <ion-card class="card-next">
    <div class="label-next">PRÓXIMAMENTE</div>
    <ion-card-content>
      <p>Próximamente traeremos nuevos servicios y productos para tus hijos.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
