ion-card {
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  margin-bottom: 12px;
  box-shadow: 4px 4px 10px 0px #161e380f, -4px -4px 10px 0px #161e380f;
  border-radius: 12px;
  &.card-monthly{
    background-image: url(../../../../assets/image/fondo-menu-mensual.png);
  }
  &.card-diary{
    background-image: url(../../../../assets/image/fondo-menu-diario.png);
  }
  &.card-next{
    background-image: url(../../../../assets/image/fondo-proximamente.png);
    ion-card-content {
      background: #BDBCBC;
    }
    .label-next {
      color: #fff;
      font-size: 16px;
      line-height: 18px;
      font-weight: 700;
      text-align: center;
      margin: 0;
      margin-top: 50px;
    }
  }
  ion-card-content {
    position: absolute;
    z-index: 2;
    bottom: 0;
    background: rgb(187 158 112 / 80%);
    color: #fff;
    padding-top: 12px;
    padding-bottom: 12px;
    .subtitle {
      font-size: 14px;
      line-height: 18px;
      font-weight: 600;
      margin: 0;
      margin-bottom: 4px;
    }
    p {
      font-size: 12px;
      line-height: 18px;
      font-weight: 400;
      margin: 0;
    }
  }
}
