ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 20px 0;
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 0px;
}

ion-menu.md ion-list-header .content-logo{
  margin-bottom: 40px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
  box-shadow: 4px 4px 10px 0px #161E380F, -4px -4px 10px 0px #161E380F;
  margin: 0 12px 16px;
}

ion-menu.md ion-item ion-label.label-menu {
  font-size: 14px !important;
  font-weight: 500;
  line-height: 20px;
  color: #000000 !important;
  display: flex;
  align-items: center;
}

ion-menu.md ion-item.selected ion-label.label-menu  {
  color: var(--secondary-lagom) !important;
}

ion-menu.md ion-item ion-label.label-menu ion-badge  {
  border-radius: 50%;
  height: 24px;
  min-width: 24px;
  font-size: 10.5px;
  line-height: 12px;
  font-weight: 700;
  padding: 6px;
  margin-left: 8px;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #73849a;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: var(--ion-color-primary);
}
