<ion-app>
  <ion-split-pane contentId="parent-content">
    <ion-menu contentId="parent-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>
            <div class="content-logo w-100 ion-text-center">
              <img src="assets/image/svg/logo-menu.svg" alt="logo-menu">
            </div>
          </ion-list-header>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of menuItems; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.path]" lines="none" detail="false" routerLinkActive="selected">
              <ion-label class="label-menu">{{ p.title }}
                <ion-badge *ngIf="p.isBadge !== 0" slot="end" color="danger">{{p.isBadge}}</ion-badge>
              </ion-label>

              <ion-icon slot="end" name="arrow-right-theme"></ion-icon>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="privacy()" lines="none" detail="false">
              <ion-label class="label-menu">Políticas de privacidad</ion-label>

              <ion-icon slot="end" name="arrow-right-theme"></ion-icon>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="logout()" lines="none" detail="false">
              <ion-label class="label-menu">Cerrar sesión</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="parent-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
