<app-header [type]="'back-title'" title="Configuraciones" titleAlign="center">
  <ion-back-button [defaultHref]="'/'+ routes.ROOT_PARENT+'/'+routes.NOTIFICATION_PARENT"></ion-back-button>
</app-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <p class="text-description">Aqui podrás modificar las notificaciones que deseas que te lleguen, en función de tus hijos.</p>
  <form *ngFor="let child of listChildren" [formGroup]="form">
    <h6 class="text-subtitle">{{ child.firstName }}</h6>
    <ion-item lines="none" *ngFor="let notification of child.notificationConfigurations">
      <ion-checkbox
        labelPlacement="end"
        alignment="center"
        justify="start"
        [formControlName]="notification.slug + '-' + notification.id"
      >
        {{ notification.description }}
      </ion-checkbox>
    </ion-item>
  </form>

  <p class="text-description" *ngIf="listChildren.length === 0">Cargando...</p>

  <div class="button-submit ion-text-center">
    <ion-button expand="" color="primary" class="btn-primary {{listChildren.length === 1 ? 'child-1' : ''}}" type="submit" (click)="send()">Guardar cambios</ion-button>
  </div>
</ion-content>
