.text-description{
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #000;
  text-align: center;
}
.text-subtitle{
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: #283357;
  margin: 0;
  margin-left: 12px;
  margin-bottom: 12px;
  &:not(:first-child){
    margin-top: 16px;
  }
}
.form-notification ion-item{
  //height: 42px;
  &::part(native){
    min-height: 32px !important;
  }
}
.btn-primary {
  width: 195px;
  margin-top: 30px;
  margin-bottom: 60px;
  &.child-1{
    margin-top: calc( 100vh - 500px );
  }
}
