<app-header [type]="'back-title'" title="Plan Diario" titleAlign="center">
  <ion-back-button defaultHref="/padre/hijo/preorder"></ion-back-button>
</app-header>

<ion-content [fullscreen]="true">
  <form action="" [formGroup]="form">
    <p>Elige los días</p>
    <ion-datetime class="calendar-monthly" #datetime presentation="date" (ngModelChange)="setTotal()"
    [max]="maxDate" [min]="minDate" [multiple]="true" formControlName="dates" [isDateEnabled]="isWeekday">
    </ion-datetime>
  </form>
  <ion-grid class="grid-info">
    <ion-row>
      <ion-col size="5">
        <p class="text-subtitle">Valor total:</p>
      </ion-col>
      <ion-col size="7">
        <p class="text-price">{{total | currencyFormat}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">
        <p class="text-description">
          Cantidad:
        </p>
      </ion-col>
      <ion-col size="7">
        <p class="text-description">
          {{!!f['dates'].value ? f['dates'].value.length : 0 }} Dias x {{serviceSelected.priceRegular | currencyFormat}}
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="grid-download" *ngIf="serviceSelected.archives.length !== 0">
    <ion-row>
      <ion-col size="12">
        <p>{{textHelper}}</p>
      </ion-col>
      <ion-col size="12">
        <a *ngFor="let archive of serviceSelected.archives" class="div-download" [href]="archive.url" target="_blank" download="carta-febrero">
          <ion-icon name="download-theme"></ion-icon>
          Descargar {{serviceSelected.name}} <span style="margin-left: 4px;" class="text-capitalize">{{archive.interval}}</span>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="ion-text-center">
    <ion-button expand="" color="primary" class="btn-primary" (click)="confirm()">Pagar</ion-button>
  </div>
</ion-content>
