.grid-data{
  h1{
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: #000000;
    margin: 0;
    span{
      font-size: 18px;
    }
  }
  .edit{
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    color: var(--secondary-lagom);
    text-align: end;
  }
  h6.subtitle{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: var(--secondary-lagom);
    margin: 6px 0 0;
  }
  p{
    font-size: 16px;
    line-height: 32px;
    font-weight: 500;
    margin: 0px;
  }
}
