<app-header [type]="'menu-title'"></app-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid class="grid-data">
    <ion-row>
      <ion-col size="8">
        <h1><span>Hola,</span> <br />{{profile.firstName}}</h1>
      </ion-col>
      <ion-col size="4">
        <div class="edit" (click)="edit()">
          <ion-icon slot="end" name="pen-theme"></ion-icon>
          Editar
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">
        <h6 class="subtitle">Hijos</h6>
      </ion-col>
      <ion-col size="7">
        <p *ngIf="studentList.length === 0">Registre algún hijo</p>
        <p *ngFor="let student of studentList">{{student.firstName}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">
        <h6 class="subtitle">Correo</h6>
      </ion-col>
      <ion-col size="7">
        <p>{{profile.email}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">
        <h6 class="subtitle">Contraseña</h6>
      </ion-col>
      <ion-col size="7">
        <p>*************</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">
        <h6 class="subtitle">Teléfono</h6>
      </ion-col>
      <ion-col size="7">
        <p>{{profile.phone}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">
        <h6 class="subtitle">Documento</h6>
      </ion-col>
      <ion-col size="7">
        <p>{{profile.documentNumber}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
