<app-header [type]="'back-title'" title="Recuperar contraseña">
  <ion-back-button defaultHref="/"></ion-back-button>
</app-header>
<ion-content class="ion-padding">
  <p class="text-normal">
    Introduce el correo al que te <br />
    enviaremos el código de validación
  </p>
  <form action="" [formGroup]="form">
    <ion-item class="item-input-form" lines="none">
      <div class="w-100">
        <div class="custom-input">
          <ion-label>Correo*</ion-label>
          <ion-input formControlName="email" type="email" fill="solid" errorText="Correo inválido" placeholder="usuario@gmail.com"></ion-input>
        </div>
        <span *ngIf="f['email'].hasError('email') && !f['email'].hasError('required')" class="span-error">Formato inválido</span>
        <span *ngIf="submitted && f['email'].hasError('required')" class="span-error">Campo requerido</span>
        <span *ngIf="f['email'].hasError('maxlength')" class="span-error">Max. <strong>100</strong> dígitos</span>
      </div>
    </ion-item>
  </form>
</ion-content>
<ion-footer class="ion-text-center">
  <ion-button expand="" color="primary" class="btn-primary" type="submit" (click)="send()"
    >Enviar</ion-button
  >
</ion-footer>
