p.text-normal{
  margin: 0;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
  margin-top: 32px;
  margin-bottom: 33px;
}
.btn-primary{
  width: 195px;
  margin-bottom: 50px;
}
