ion-tab-bar{
  background: var(--primary-lagom);
  --background: var(--primary-lagom);
  height: 90px;
  box-shadow: 5px 6px 10px 0px #161E3840, -6px -6px 10px 0px #161E3840;
  ion-tab-button{
    --color: #ffffff;
    --color-selected: var(--secondary-lagom);
    font-size: 10px;
    line-height: 12px;
    font-weight: 700;
    ion-icon{
      width: 32px;
      height: 32px;
      margin-bottom: 6px;
    }
  }
}
