<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>children-navigation</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button [tab]="routes.HOME_CHILDREN">
      <ion-icon name="pre-order-theme"></ion-icon>
      Pre-order
    </ion-tab-button>
    <ion-tab-button [tab]="routes.BALANCE_CHILDREN">
      <ion-icon name="balance-theme"></ion-icon>
      Balance
    </ion-tab-button>
    <ion-tab-button [tab]="routes.CONSUMPTION_CHILDREN">
      <ion-icon name="historial-theme"></ion-icon>
      Consumos
    </ion-tab-button>
    <ion-tab-button [tab]="routes.PROFILE_CHILDREN">
      <ion-icon name="user-theme"></ion-icon>
      Mi hijo
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
