<app-header [type]="typeHeader" [title]="isEdit === 0 ? 'Agregar hijo': 'Editar datos de Hijo'" titleAlign="center">
  <ion-back-button [defaultHref]="typeHeader === 'back-title' ? (isEdit === 0 ? '/padre/inicio-padre' : '/padre/inicio-padre') : '/'"></ion-back-button>
</app-header>
<ion-content class="ion-padding">
  <div class="content-slider">
    <swiper-container #swiper [modules]="swiperModules" [slidesPerView]="1">
      <swiper-slide *ngFor="let image of images" class="ion-text-center">
        <img [src]="image.image" alt="Slide Image">
      </swiper-slide>
    </swiper-container>
    <p class="description">{{isEdit === 0 ? 'Elige un avatar' : 'Cambiar el avatar'}}</p>
    <div class="arrows">
      <ion-button class="btn-arrow" (click)="goPrev()">
        <ion-icon slot="icon-only" name="arrow-left-theme"></ion-icon>
      </ion-button>
      <ion-button class="btn-arrow" (click)="goNext()">
        <ion-icon slot="icon-only" name="arrow-right-theme"></ion-icon>
      </ion-button>
    </div>
  </div>
  <form action="" class="" [formGroup]="form">
    <ion-item class="item-input-form" lines="none">
      <div class="w-100">
        <div class="custom-input">
          <ion-label for="name">Nombres*</ion-label>
          <ion-input id="name" formControlName="firstName" maxlength="100" autofocus="true" type="text" fill="solid"
            errorText="Campo requerido" placeholder="Nombres"></ion-input>
        </div>
        <span *ngIf="submitted && f['firstName'].hasError('required')" class="span-error">Campo requerido</span>
        <span *ngIf="f['firstName'].hasError('maxlength')" class="span-error">Max. <strong>100</strong> dígitos</span>
        <span *ngIf="f['firstName'].hasError('minlength')" class="span-error">Mín. <strong>2</strong> dígitos</span>
      </div>
    </ion-item>
    <ion-item class="item-input-form" lines="none">
      <div class="w-100">
        <div class="custom-input">
          <ion-label>Apellidos*</ion-label>
          <ion-input formControlName="lastName" type="text" maxlength="100" fill="solid" errorText="Campo requerido"
            placeholder="Apellidos"></ion-input>
        </div>
        <span *ngIf="submitted && f['lastName'].hasError('required')" class="span-error">Campo requerido</span>
        <span *ngIf="f['lastName'].hasError('maxlength')" class="span-error">Max. <strong>100</strong> dígitos</span>
        <span *ngIf="f['lastName'].hasError('minlength')" class="span-error">Mín. <strong>2</strong> dígitos</span>
      </div>
    </ion-item>
    <ion-item class="item-input-form" lines="none">
      <div class="w-100">
        <div class="custom-select">
          <ion-label>Colegio*</ion-label>
          <ion-select formControlName="schoolId" aria-label="Colegios" interface="action-sheet" cancelText="Cancelar" (ionChange)="onSelectionChangeSchool($event)" placeholder="Selecciona uno ..."
            toggleIcon="chevron-down-outline" expandedIcon="chevron-up-outline">
            <ion-select-option *ngFor="let school of schoolList" [value]="school.id">{{school.name}}</ion-select-option>
          </ion-select>
        </div>
        <span *ngIf="submitted && f['schoolId'].hasError('required')" class="span-error">Campo requerido</span>
      </div>
    </ion-item>

    <ion-item class="item-input-form" lines="none">
      <div class="w-100">
        <div class="custom-select">
          <ion-label>Grado*</ion-label>
          <ion-select formControlName="levelGradeId" aria-label="Grados" interface="action-sheet" cancelText="Cancelar" placeholder="Selecciona uno ..."
            toggleIcon="chevron-down-outline" expandedIcon="chevron-up-outline">
            <ion-select-option *ngFor="let level of levelGradesList" [value]="level.id">{{level.name}}</ion-select-option>
          </ion-select>
        </div>
        <span *ngIf="submitted && f['levelGradeId'].hasError('required')" class="span-error">Campo requerido</span>
      </div>
    </ion-item>

    <ion-item class="item-input-form" lines="none">
      <div class="w-100">
        <div class="custom-input">
          <ion-label>N° Documento</ion-label>

          <ion-input formControlName="documentNumber" type="text" maxlength="15" fill="solid"
            errorText="Campo requerido" placeholder="N° Documento"></ion-input>
        </div>

        <span *ngIf="f['documentNumber'].hasError('maxlength')" class="span-error">Max. <strong>15</strong>
          dígitos</span>
        <span *ngIf="f['documentNumber'].hasError('minlength')" class="span-error">Mín. <strong>8</strong>
          dígitos</span>
      </div>
    </ion-item>
    <ion-item class="item-input-form" lines="none">
      <div class="w-100">
        <div class="custom-input">
          <ion-label>Código estudiante</ion-label>
          <ion-input formControlName="studentCode" type="text" maxlength="15" fill="solid" placeholder="Código"></ion-input>
        </div>
        <span *ngIf="f['studentCode'].hasError('maxlength')" class="span-error">Max. <strong>15</strong>
          dígitos</span>
        <span *ngIf="f['studentCode'].hasError('minlength')" class="span-error">Mín. <strong>3</strong>
          dígitos</span>
      </div>
    </ion-item>
    <ion-item class="item-input-form" lines="none" formGroupName="medicalConditions"
      *ngFor="let allergy of listAllergies.controls; let i = index">
      <div class="w-100">
        <div class="custom-input">
          <ion-label>Alergias o condiciones médicas</ion-label>
          <div class="d-flex">
            <ion-input type="text" fill="solid" maxlength="100" [formControlName]="i" placeholder="Alergia {{ i + 1 }}"></ion-input>
            <ion-button fill="clear" *ngIf="i !== 0" (click)="remove(i)" color="danger">
              <ion-icon class="allergies-icon-delete" name="delete-theme"></ion-icon>
            </ion-button>
          </div>
        </div>
        <span *ngIf="hasError(i, 'required')" class="span-error">Campo requerido</span>
        <span *ngIf="hasError(i, 'maxlength')" class="span-error">Max. <strong>100</strong>
          dígitos</span>
      </div>
    </ion-item>
    <div class="add-item" (click)="add()">
      + Agregar Alergía
    </div>
    <div class="button-submit ion-text-center">
      <ion-button expand="" color="primary" class="btn-primary" type="submit" (click)="send()">{{typeHeader === 'back-title' ? (isEdit === 0 ? 'Agregar' : 'Guardar') : 'Confirmar'}}</ion-button>
    </div>
  </form>
  <div class="ion-text-center text-footer" *ngIf="typeHeader === 'title'">
    <a class="" (click)="later()">Agregar después</a>
  </div>
</ion-content>
