.content-slider{
  background-color: #F5F5F5;
  border-radius: 8px;
  position: relative;
  margin-bottom: 12px;
  padding-top: 12px;
  .description{
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    color: #000000;
    text-align: center;
    padding: 12px 0 16px 0;
    margin-top: 0;
  }
  .arrows{
    position: absolute;
    top: 35%;
    transform: translateY(-35%);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 170px;
    z-index: 2;
    .btn-arrow{
      --background: transparent;
      --box-shadow: none;
      ion-icon{
        width: 16px;
        height: 16px;
      }
    }
  }
}
form {
  ion-item:not(:first-child) {
    margin-top: 12px;
  }
  .allergies-icon-delete{
    width: 24px;
    height: 24px;
  }
}
.add-item {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  color: #000000;
  margin-top: 8px;
  margin-bottom: 8px;
}
.btn-primary {
  width: 195px;
  margin-top: 34px;
  margin-bottom: 30px;
}
.text-footer {
  margin-bottom: 51px;
  a {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #000000;
  }
}
