<app-header [type]="'menu-child'">
</app-header>
<ion-content [fullscreen]="true">
  <div class="content-image" *ngIf="profile">
    <div class="edit" (click)="edit()">
      <ion-icon slot="end" name="pen-theme"></ion-icon>
      Editar
    </div>
    <img src="assets/image/svg/avatars/avatar-{{profile.avatar}}.svg" alt="Slide Image">
  </div>
  <ion-grid class="grid-data">
    <ion-row>
      <!-- <ion-col size="6">
        <h6 class="subtitle">Plan</h6>
      </ion-col>
      <ion-col size="6">
        <p>No tiene</p>
      </ion-col> -->
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <h6 class="subtitle">Nombres</h6>
      </ion-col>
      <ion-col size="6">
        <p>{{profile!.firstName ? profile!.firstName: '---'}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <h6 class="subtitle">Apellidos</h6>
      </ion-col>
      <ion-col size="6">
        <p>{{profile!.lastName ? profile!.lastName: '---'}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <h6 class="subtitle">Colegio</h6>
      </ion-col>
      <ion-col size="6">
        <p>{{profile!.schoolName ? profile!.schoolName: '---'}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <h6 class="subtitle">Grado</h6>
      </ion-col>
      <ion-col size="6">
        <p>{{profile!.levelGradeName ? profile!.levelGradeName: '---'}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <h6 class="subtitle">Código</h6>
      </ion-col>
      <ion-col size="6">
        <p>{{profile!.studentCode ? profile!.studentCode : '---'}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <h6 class="subtitle">N° Documento</h6>
      </ion-col>
      <ion-col size="6">
        <p>{{profile.documentNumber}}</p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="profile!.medicalConditions.length !== 0">
      <ion-col size="6">
        <h6 class="subtitle">Alergias</h6>
      </ion-col>
      <ion-col size="6">
        <p *ngFor="let medical of profile.medicalConditions">{{medical.condition}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
