.content-image{
  background: #F5F5F5;
  position: relative;
  text-align: center;
  .edit{
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    color: var(--secondary-lagom);
    text-align: end;
    position: absolute;
    right: 32px;
    top: 16px;
  }
}
.grid-data{
  padding: 24px 40px 20px;
  h6.subtitle{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: var(--secondary-lagom);
    margin: 0;
  }
  p{
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    margin: 0px;
  }
  ion-row{
    margin-bottom: 22px;
  }
}
