.label-text.sc-ion-input-md{
  color: var(--secondary-lagom) !important;
}
.sc-ion-input-md-h{
  --border-width: 0px !important;
  --highlight-color-focused: var(--secondary-lagom);
  --highlight-color-valid: var(--secondary-lagom);
  --highlight-color-invalid: var(--secondary-lagom);
  --highlight-height: 0 !important;
  /* --highlight-background:red; */
}
.input-wrapper.sc-ion-input-md{
  background: #F5F5F5;
}
