ion-item.sc-ion-input-md-h:not(.item-label):not(.item-has-modern-input),
ion-item:not(.item-label):not(.item-has-modern-input) .sc-ion-input-md-h {
  --padding-start: 16px;
}
.item-input-form {
  --padding-start: 0;
  --padding-end: 0;
  --inner-padding-end: 0;
}
ion-label {
  color: var(--secondary-lagom) !important;
  font-size: 16px !important;
  line-height: 20px;
  font-weight: 700;
  max-width: 100% !important;
}
.custom-select {
  width: 100%;
  background: #f5f5f5;
  border-radius: 8px;
  padding: 16px 16px 0px 16px;
  ion-select {
    max-width: 100% !important;
    --padding-start: 0;
    --padding-bottom: 15px;
    --padding-top: 3px;
    &::part(icon) {
      width: 32px;
      height: 32px;
      color: #bb9e70;
      margin-top: -6px;
    }
    &::part(placeholder) {
      width: 100vw;
    }
    ion-radio {
      font-size: 18px;
      line-height: 20px;
      font-weight: 500;
    }
  }
}
.custom-input {
  width: 100%;
  background: #f5f5f5;
  border-radius: 8px;
  padding: 16px 16px 6px 16px;
  ion-input {
    .native-input {
      --padding-start: 0;
    }
  }
  ion-button {
    margin-top: -12px;
    &::part(native) {
      padding-right: 6px;
      padding-left: 6px;
    }
    ion-icon {
      width: 32px;
      height: 32px;
      color: var(--secondary-lagom);
    }
  }
}
ion-checkbox {
  height: 24px;
  --size: 24px;
  --checkbox-background-checked: var(--secondary-lagom);
  &::part(container) {
    border-radius: 4px;
    border: 2px solid var(--secondary-lagom);
  }
  &::part(label) {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
  }
}
ion-item[aria-disabled="true"]{
  opacity: 0.8;
  ion-label{
    color: #454852 !important;
  }
  ion-icon{
    color: #454852 !important;
  }
  ion-datetime-button{
    &::part(native){
      color: #454852 !important;
    }
  }
}
ion-datetime {
  --background: #ffffff;
  --title-color: red;
  border-radius: 16px;
  box-shadow: 4px 4px 10px 0px #161E380F, -4px -4px 10px 0px #161E380F;
  &::part(month-year-button) {
    --color: #000000;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
  &::part(calendar-day) {
    color: #000000;
    width: 28px;
    height: 28px;
    min-width: 28px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
  &::part(calendar-day):focus {
    background-color: rgba(#BB9E70, 0.2);
    border-color: rgba(#BB9E70, 0.2);
    box-shadow: 0px 0px 0px 4px rgba(#BB9E70, 0.2);
  }
  &::part(calendar-day active){
    background-color: var(--secondary-lagom);
    border-color: var(--secondary-lagom);
  }
  &::part(calendar-day active):focus {
    background-color: var(--secondary-lagom);
    border-color: var(--secondary-lagom);
  }

  /*
  &::part(calendar-day today) {
    background-color: transparent;
    border-color: var(--secondary-lagom);
  } */
}
