ion-header {
  box-shadow: none !important;
}
.header {
  ion-back-button {
    --color: var(--secondary-lagom);
    &::part(icon) {
      font-size: 12px;
    }
    &::part(text) {
      text-transform: capitalize;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      padding-right: 0px;
    }
    &::part(native) {
      padding-right: 0px;
    }
  }

  ion-header {
    box-shadow: none !important;
    ion-title {
      font-weight: 700;
      font-size: 18px;
      line-height: 20px;
      color: #000000;
      padding: 0 15px;
      padding-right: 48px;
      &.text-center {
        text-align: center;
        margin-left: -10px;
      }
    }
  }

  &.type-0 {
    ion-title {
      padding-right: 15px;
      &.text-center {
        text-align: center;
        margin-left: 0px;
      }
    }
  }

  &.type-3 {
    .sc-ion-buttons-md-h {
      width: 100%;
      ion-button {
        width: -webkit-fill-available;
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
        color: #000000;
        padding: 0 15px;
        text-transform: capitalize;
        padding-right: 48px;
        .option-child{
          margin-top: 20px;
          span{
            font-size: 10px;
            line-height: 20px;
            font-weight: 500;
          }
        }
        ion-icon {
          margin-left: 4px;
        }
      }
    }
  }

  &.type-6 {
    .img-floating {
      background: #fff;
      position: absolute;
      top: 5px;
      z-index: 999999;
      left: 36%;
      transform: translateX(36%);
    }
  }

  &.type-7 {
    ion-title.text-center {
      text-align: center;
      margin-left: -10px;
      padding: initial;
    }
    ion-buttons[slot="end"]{
      margin-right: 18px;
    }
  }
}
