.alert-info {
  .alert-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #000000;
  }
  .alert-message {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #000000;
  }
  .alert-button {
    color: #22a2ff;
  }
}
.alert-confirm {
  --max-width: 320px;
  .alert-wrapper{
    border-radius: 12px;
  }
  .alert-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    color: #000000;
    text-align: center;
    padding-top: 28px;
  }
  .alert-message {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #000000;
    text-align: center;
    padding-left: 35px;
    padding-right: 36px;
  }
  .alert-button-group {
    justify-content: center;
    padding: 0 8px 48px;
  }
  .alert-button {
    height: 60px;
    min-width: 120px;
    box-shadow: 6px 6px 10px 0px #161e381a, -6px -6px 10px 0px #161e381a;
    border-radius: 7.5px;
    font-size: 15px;
    font-weight: 600;
    line-height: 15px;
    text-align: center;
    text-transform: capitalize;
    &.alert-button-role-cancel {
      color: #283357;
      background: transparent;
      border: 1.5px solid #283357;
    }
    &.alert-button-role-confirm {
      color: #ffffff;
      background: #283357;
    }
    .alert-button-inner {
      justify-content: center;
    }
  }
}
.alert-confirm-message {
  --max-width: 320px;
  .alert-wrapper{
    border-radius: 12px;
  }
  .alert-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    color: #000000;
    text-align: center;
    padding-top: 28px;
  }
  .alert-message {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #000000;
    text-align: center;
    padding-left: 35px;
    padding-right: 36px;
  }
  .alert-button-group {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 0 8px 20px;
  }
  .alert-button {
    height: 60px;
    min-width: 120px;
    box-shadow: 6px 6px 10px 0px #161e381a, -6px -6px 10px 0px #161e381a;
    border-radius: 7.5px;
    font-size: 15px;
    font-weight: 600;
    line-height: 15px;
    text-align: center;
    text-transform: initial;
    &.alert-button-role-cancel {
      color: #000000;
      background: transparent;
      box-shadow: none;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      //border: 1.5px solid #283357;
    }
    &.alert-button-role-confirm {
      width: 195px;
      color: #ffffff;
      background: #283357;
    }
    .alert-button-inner {
      justify-content: center;
    }
  }
}
