.d-flex{
  display: flex;
}
.w-100{
  width: 100%;
}
.span-error{
  color: rgb(255, 86, 86);
  padding: 0px 16px;
  font-size: 12px;
}
.align-self-center{
  align-self: center;
}
.justify-content-center{
  justify-content: center;
}
.justify-content-between{
  justify-content: space-between;
}
.text-capitalize{
  text-transform: capitalize;
}

.div-description ul{
  padding-left: 16px;
  margin-top: 2px;
  margin-bottom: 2px;
}
