.grid-header {
  h5 {
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    color: #00000099;
    margin: 0;
  }
  ion-col {
    &.ion-text-end {
      padding-right: 7px;
    }
    &.ion-text-start {
      padding-left: 7px;
    }
  }
  .text-amount {
    font-size: 24px;
    line-height: 40px;
    font-weight: 600;
    color: #000000;
    margin: 0 0 8px;
    display: flex;
    align-items: center;
    span {
      font-size: 16px;
      font-weight: 600;
      padding-right: 8px;
    }
  }
  .btn-primary {
    width: 104px;
    height: 32px;
    font-size: 12px;
    line-height: 8px;
    --border-radius: 4px;
    --box-shadow: none;
    margin: 0;
    &::part(native) {
      height: 32px;
      min-height: 32px;
    }
  }
}
.text-subtitle {
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  margin-left: 32px;
  color: var(--secondary-lagom);
}
.grid-list {
  padding: 20px;
  p {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #000000;
    margin: 0;
    text-align: center;
  }
}
ion-list {
  ion-accordion-group {
    margin-right: 20px;
    margin-left: 20px;
    ion-accordion {
      box-shadow: 4px 4px 10px 0px #161e380f, -4px -4px 10px 0px #161e380f;
      margin-bottom: 12px;
      border-radius: 8px;
      ion-item {
        --padding-start: 16px;
        --inner-padding-end: 16px;
        --padding-top: 6px;
        --padding-bottom: 3px;
        &::part(native) {
          background: #fff;
        }
      }
      .content-detail {
        display: flex;
        width: 100%;
        justify-content: space-between;
        .div-title {
          font-size: 12px;
          line-height: 16px;
          color: #283357;
          p {
            margin: 0;
            margin-left: 5px;
            font-weight: 600;
            &.text-date {
              font-size: 10px;
              line-height: 16px;
              font-weight: 400;
              .span-typepay {
                font-size: 10px;
                font-weight: 500;
                line-height: 16px;
                margin-left: 8px;
                color: #BFBFBF;
              }
            }
          }
        }
        .div-price {
          font-size: 14px;
          line-height: 20px;
          font-weight: 600;
          color: #283357;
          &.text-danger {
            color: #d64b4b;
          }
        }
      }
      .div-description {
        font-size: 12px;
        color: #5f5f5f;
        line-height: 16px;
        font-weight: 400;
        border-top: 2px solid #f5f5f5;
        padding: 8px 16px 16px;
      }
    }
  }
  .content-call {
    border-top: 2px solid #f5f5f5;
    margin: 0 20px 20px;
    p.text-subtitle {
      font-size: 14px;
      line-height: 16px;
      font-weight: 600;
      color: #bb9e70;
      margin-left: 8px;
    }
    .grid-call {
      .option-call {
        border-radius: 4px;
        box-shadow: 4px 4px 10px 0px #161e380f, -4px -4px 10px 0px #161e380f;
        padding: 8px 12px;
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
        color: #000000;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        ion-icon {
          margin-right: 8px;
        }
      }
    }
  }
}
