<app-header [type]="'menu-child'">
</app-header>
<ion-content>
  <ion-grid class="grid-header">
    <ion-row>
      <ion-col size="6" class="ion-text-end">
        <img src="assets/image/svg/avatars/avatar-{{child.avatar}}.svg" alt="Slide Image">
      </ion-col>
      <ion-col size="6" class="ion-text-start">
        <h5>Saldo en la cuenta</h5>
        <p class="text-amount"><span>S/.</span> {{child.balanceAmount | currency :'':'':'1.2-2'}}</p>
        <ion-button color="primary" class="btn-primary"
          [routerLink]="['/'+routes.ROOT_PARENT+'/'+routes.ROOT_CHILDREN+'/'+routes.BALANCE_CHILDREN+'/'+routes.BALANCE_RECHARGE_CHILDREN]">Recargar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <p class="text-subtitle">Movimientos</p>
  <ion-grid class="grid-list" *ngIf="balanceList.length === 0">
    <ion-row>
      <ion-col>
        <p>No hay movimientos </p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list class="panel-option">
    <ion-accordion-group>
      <ion-accordion *ngFor="let order of balanceList; let i = index;" [value]="'ORDER-'+ i + order.id" toggleIcon="">
        <ion-item slot="header" color="light" lines="none" class="item-consumption">
          <div class="content-detail">
            <div class="div-title">
              <p *ngIf="order.subtype === 'purchase' && order.planType === 'monthly'"><strong>Compra Plan Mensual</strong></p>
              <p *ngIf="order.subtype === 'purchase' && order.planType === 'daily'"><strong>Compra Plan Diario</strong></p>
              <p *ngIf="order.subtype === 'recharge'"><strong>Recarga Wallet</strong></p>
              <p *ngIf="order.subtype === 'purchase' && order.origin === 'web'"><strong>Compra en cafetería</strong></p>
              <p class="text-date">{{order.date}}
                <span class="span-typepay" *ngIf="order.subtype === 'purchase'">
                  {{order.paymentType == 'wallet' ? 'WALLET': 'NO WALLET'}}
                </span>
                <span class="span-typepay" *ngIf="order.subtype === 'recharge'">
                  WALLET
                </span>
              </p>
            </div>
            <div class="div-price" [ngClass]="{'text-danger': order.subtype === 'purchase'}">
              <span *ngIf="order.subtype === 'purchase'">-</span> {{order.amount | currencyFormat}}
            </div>
          </div>
        </ion-item>
        <div class="div-description" slot="content">
          <div class="" *ngIf="order.subtype === 'purchase'">
            <div [innerHTML]="order.context"></div>
          </div>
          <div class="" *ngIf="order.subtype === 'recharge'">
            <div>Recarga Wallet</div>
          </div>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)"
    *ngIf="balanceList?.length && paginate?.current != paginate?.last">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando....">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
