<app-header [type]="'menu-title'" title="Ayuda y soporte" titleAlign="center"></app-header>

<ion-content [fullscreen]="true">
  <div class="d-flex options">
    <div class="option-box" [ngClass]="{'active': selectedSegment == 'questions'}" (click)="selectedSegment = 'questions'">
      Preguntas frecuentes
    </div>
    <div class="option-box" [ngClass]="{'active': selectedSegment == 'call'}" (click)="selectedSegment = 'call'">
      Contacto
    </div>
  </div>
  <div [ngSwitch]="selectedSegment" class="panel-option">
    <!-- Device Tab -->
    <ion-list *ngSwitchCase="'questions'">
      <h6>Todas las preguntas</h6>
      <ion-accordion-group>
        <ion-accordion *ngFor="let question of questionsList" [value]="question.id" toggleIcon="box-plus-theme">
          <ion-item slot="header" color="light" lines="none">
            <div class="div-title d-flex">
              <span>{{question.id}}. </span>
              <p>{{question.question}}</p>
            </div>
          </ion-item>
          <div class="div-description" slot="content">{{question.answer}}</div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-list>
    <!-- Device Tab -->
    <ion-list *ngSwitchCase="'call'">
      <h6 class="subtitle-call">Contactos</h6>
      <div class="content-call" *ngFor="let item of infoList">
        <p class="text-subtitle">{{item.name}}</p>
        <ion-grid class="grid-call">
          <ion-row>
            <ion-col size="5">
              <a class="option-call" href="https://wa.me/+51{{item.cel}}" target="_blank">
                <ion-icon name="call-theme"></ion-icon>
                {{item.cel}}
              </a>
            </ion-col>
            <ion-col size="7">
              <a class="option-call" href="mailto:{{item.email}}" target="_blank">
                <ion-icon name="message-theme"></ion-icon>
                {{item.email}}
              </a>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-list>
  </div>
</ion-content>
