.options {
  padding: 20px 20px 6px;
  .option-box {
    box-shadow: 4px 4px 10px 0px #161e380f, -4px -4px 10px 0px #161e380f;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #000000;
    padding: 8px 16px;
    border-radius: 4px;
    height: 36px;
    &:not(:first-child) {
      margin-left: 12px;
    }
    &.active {
      background: var(--secondary-lagom);
      color: #ffffff;
      font-weight: 700;
    }
  }
}
.panel-option {
  h6 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    margin: 0 20px 16px;
    color: #283357;
    &.subtitle-call{
      margin: 0 20px 8px;
    }
  }
  ion-accordion-group {
    margin-right: 20px;
    margin-left: 20px;
    ion-accordion {
      box-shadow: 4px 4px 10px 0px #161e380f, -4px -4px 10px 0px #161e380f;
      margin-bottom: 4px;
      border-radius: 8px;
      ion-item {
        --padding-start: 16px;
        --inner-padding-end: 16px;
        --padding-top: 12px;
        --padding-bottom: 10px;
        &::part(native) {
          background: #fff;
        }
      }
      .div-title {
        font-size: 12px;
        color: #283357;
        line-height: 16px;
        font-weight: 600;
        p {
          margin: 0;
          margin-left: 5px;
        }
      }
      .div-description {
        font-size: 12px;
        color: #5f5f5f;
        line-height: 16px;
        font-weight: 400;
        border-top: 2px solid #f5f5f5;
        padding: 12px 16px;
      }
    }
  }
  .content-call {
    border-top: 2px solid #F5F5F5;
    margin: 0 20px 20px;
    p.text-subtitle {
      font-size: 14px;
      line-height: 16px;
      font-weight: 600;
      color: #bb9e70;
      margin-left: 8px;
    }
    .grid-call{
      .option-call{
        border-radius: 4px;
        box-shadow: 4px 4px 10px 0px #161E380F, -4px -4px 10px 0px #161E380F;
        padding: 8px 12px;
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
        color: #000000;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        ion-icon{
          margin-right: 8px;
        }
      }
    }
  }
}
