<app-header [type]="'menu-logo'"></app-header>
<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="content-title">
      <!-- <ion-col class="subtitle">Agrega un hijo</ion-col> -->
      <ion-col class="subtitle">{{studentList.length === 0 ? "Agrega a tu hijo" : "Elige a un hijo" }}</ion-col>
      <ion-col *ngIf="studentList.length !== 0" class="text-add" (click)="add()">Agregar +</ion-col>
    </ion-row>
    <ion-row class="cards">
      <ion-col size="12" (click)="add()" *ngIf="studentList.length === 0">
        <div class="card card-add ion-text-center">
          <div class="card-body">
            <img src="assets/icon/svg/icon-plus-theme.svg" alt="Slide Image">
            <p class="text-name">Agregar</p>
          </div>
        </div>
      </ion-col>
      <ion-col size="12" (click)="goToChildren(child)" *ngFor="let child of studentList">
        <div class="card ion-text-center">
          <div class="card-body">
            <img src="assets/image/svg/avatars/avatar-{{child.avatar}}.svg" alt="Slide Image">
            <p class="text-name">{{child.firstName}}</p>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
