.content-title{
  margin-bottom: 24px;
  .subtitle {
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    color: #000000;
  }
  .text-add {
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    color: #bb9e70;
    text-align: end;
    align-self: center;
  }
}
.cards{
  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 38px;
}
.card {
  border-radius: 10px;
  padding: 24px 0;
  box-shadow: 6px 6px 10px 0px #161E381A, -6px -6px 10px 0px #161E381A;
  //border: 1px dashed #BB9E70;
  p.text-name{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-top: 16px;
    margin-bottom: 0;
  }
  &.card-add {
    box-shadow: none;
    border: 1px dashed #BB9E70;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 184px;
    p.text-name{
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      margin-top: 16px;
      margin-bottom: 0;
    }
  }
}
