p.text-subtitle{
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #000000;
  margin-top: 35px;
  margin-bottom: 20px;
  &:first-child{
    margin-top: 17px;
  }
}
form{
  ion-item:not(:first-child){
    margin-top: 12px;
  }
}
.btn-primary{
  width: 195px;
  margin-top: 62px;
  margin-bottom: 50px;
}
