<app-header [type]="'back-title'" title="Recuperar contraseña">
  <ion-back-button defaultHref="/"></ion-back-button>
</app-header>
<ion-content class="ion-padding ion-text-center">
  <p class="text-normal">
    Introduce tu nueva contraseña
  </p>
  <form action="" class="" [formGroup]="form">
    <ion-item class="item-input-form" lines="none">
      <div class="w-100">
        <div class="custom-input">
          <ion-label>Contraseña*</ion-label>
          <div class="d-flex">
            <ion-input formControlName="password" maxlength="15" placeholder="***************" [type]="hide ? 'password' : 'text'">
            </ion-input>
            <ion-button fill="clear" slot="end" aria-label="Show/hide" (click)="hide = !hide">
              <ion-icon slot="icon-only" [name]="hide ? 'eye-off-theme' : 'eye-theme'" aria-hidden="true"></ion-icon>
            </ion-button>
          </div>
        </div>
        <span *ngIf="submitted && f['password'].hasError('required')" class="span-error">Campo requerido</span>
        <span *ngIf="f['password'].hasError('maxlength')" class="span-error">Max. <strong>15</strong> dígitos</span>
      </div>
    </ion-item>
    <ion-item class="item-input-form" lines="none">
      <div class="w-100">
        <div class="custom-input">
          <ion-label>Repetir contraseña*</ion-label>
          <div class="d-flex">
            <ion-input formControlName="confirmPassword" maxlength="15" placeholder="***************" [type]="hideConfirm ? 'password' : 'text'">
            </ion-input>
            <ion-button fill="clear" slot="end" aria-label="Show/hide" (click)="hideConfirm = !hideConfirm">
              <ion-icon slot="icon-only" [name]="hideConfirm ? 'eye-off-theme' : 'eye-theme'"
                aria-hidden="true"></ion-icon>
            </ion-button>
          </div>
        </div>
        <span *ngIf="f['confirmPassword'].hasError('passwordMismatch')" class="span-error">Las contraseñas deben ser iguales</span>
        <span *ngIf="submitted && f['confirmPassword'].hasError('required')" class="span-error">Campo requerido</span>
        <span *ngIf="f['confirmPassword'].hasError('maxlength')" class="span-error">Max. <strong>15</strong> dígitos</span>
      </div>
    </ion-item>
  </form>
</ion-content>
<ion-footer class="ion-text-center">
  <ion-button expand="" color="primary" class="btn-primary" (click)="send()"
    >Confirmar</ion-button
  >
</ion-footer>
