p.text-normal{
  margin: 0;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
  margin-top: 32px;
  margin-bottom: 36px;
}
.form-codes{
  display: flex;
  column-gap: 8px;
  margin-bottom: 20px;
  ion-input{
    min-height: 80px;
    text-align: center;
  }
}
.link-send{
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #283357;
  text-decoration: underline;
}
.btn-primary{
  width: 195px;
  margin-bottom: 50px;
}
