<app-header [type]="'back-title'" title="Recuperar contraseña">
  <ion-back-button defaultHref="/"></ion-back-button>
</app-header>
<ion-content class="ion-padding ion-text-center">
  <p class="text-normal">
    Introduce el código de validación<br />
    enviado a tu correo
  </p>
  <form action="" class="form-codes" [formGroup]="form">
    <ion-item class="item-input-form" lines="none">
      <ion-input
        type="text"
        fill="solid"
        maxlength="1"
        placeholder="-"
        formControlName="code1"
        #code1
        inputmode="numeric"
        (keyup)="upNumber1(code1)"
      ></ion-input>
    </ion-item>
    <ion-item class="item-input-form" lines="none">
      <ion-input
        type="text"
        fill="solid"
        maxlength="1"
        placeholder="-"
        formControlName="code2"
        #code2
        inputmode="numeric"
        (keyup)="upNumber2(code2)"
      ></ion-input>
    </ion-item>
    <ion-item class="item-input-form" lines="none">
      <ion-input
        type="text"
        fill="solid"
        maxlength="1"
        placeholder="-"
        formControlName="code3"
        #code3
        inputmode="numeric"
        (keyup)="upNumber3(code3)"
      ></ion-input>
    </ion-item>
    <ion-item class="item-input-form" lines="none">
      <ion-input
        type="text"
        fill="solid"
        maxlength="1"
        placeholder="-"
        formControlName="code4"
        #code4
        inputmode="numeric"
        (keyup)="next(code4)"
      ></ion-input>
    </ion-item>
  </form>
  <a class="link-send" (click)="send()">Enviar código de nuevo</a>
</ion-content>
<ion-footer class="ion-text-center">
  <ion-button expand="" color="primary" class="btn-primary" (click)="confirm()"
    >Confirmar</ion-button
  >
</ion-footer>
