.contain-description{
  margin: 133px 36px 0;
  p.text-normal{
    margin: 0;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #424B6B;
  }
}
ion-footer{
  padding: 0 20px 60px;
  p.text-footer{
    margin: 0;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #424B6B;
    margin-top: 34px;
    a{
      font-weight: 600;
    }
  }
}
