<ion-content [fullscreen]="true">
  <div class="contain-description ion-text-center">
    <img src="assets/image/svg/logo.svg" alt="logo">
  </div>
</ion-content>
<ion-footer [translucent]="true" class="ion-no-border">
  <ion-button expand="block" color="primary" class="btn-primary" [routerLink]="['/'+routes.LOGIN_FORM]"
  >Iniciar sesión</ion-button>
  <p class="text-footer">¿No tienes cuenta? <a [routerLink]="['/'+routes.REGISTER_PARENT]">Regístrate</a></p>
</ion-footer>
