<ion-content [fullscreen]="true">
  <div class="div-bg">
    <div class="div-bg-3">
      <div class="div-logo-isotipo">
        <img src="assets/image/logo-isotipo.png" alt="">
      </div>
    </div>
  </div>
  <div class="content-form">
    <div class="content-all">
      <form action="" class="" [formGroup]="form">
        <ion-item class="item-input-form" lines="none">
          <div class="w-100">
            <div class="custom-input">
              <ion-label>Correo*</ion-label>
              <ion-input formControlName="email" autofocus="true" type="email" fill="solid" errorText="Correo inválido" placeholder="usuario@gmail.com"></ion-input>
            </div>
            <span *ngIf="f['email'].hasError('email') && !f['email'].hasError('required')" class="span-error">Formato inválido</span>
            <span *ngIf="submitted && f['email'].hasError('required')" class="span-error">Campo requerido</span>
            <span *ngIf="f['email'].hasError('maxlength')" class="span-error">Max. <strong>100</strong> dígitos</span>
          </div>
        </ion-item>
        <ion-item class="item-input-form" lines="none">
          <div class="w-100">
            <div class="custom-input">
              <ion-label>Contraseña*</ion-label>
              <div class="d-flex">
                <ion-input formControlName="password" maxlength="15" placeholder="***************" [type]="hide ? 'password' : 'text'">
                </ion-input>
                <ion-button fill="clear" slot="end" aria-label="Show/hide" (click)="hide = !hide">
                  <ion-icon slot="icon-only" [name]="hide ? 'eye-theme' : 'eye-off-theme'" aria-hidden="true"></ion-icon>
                </ion-button>
              </div>
            </div>
            <span *ngIf="submitted && f['password'].hasError('required')" class="span-error">Campo requerido</span>
            <span *ngIf="f['password'].hasError('maxlength')" class="span-error">Max. <strong>15</strong> dígitos</span>
          </div>
        </ion-item>
        <div class="text-link"><a [routerLink]="['/'+routes.FORGOT_PASSWORD]">Olvidé mi contraseña</a></div>
        <ion-button
          expand="block"
          color="primary"
          class="btn-primary"
          (click)="login()"
          >Ingresar</ion-button
        >
      </form>
      <p class="text-footer">¿No tienes cuenta? <a [routerLink]="['/'+routes.REGISTER_PARENT]">Regístrate</a></p>
    </div>
  </div>
</ion-content>
