.div-bg{
  height: calc( 100vh - 449.5px );
  border-radius: 0 0 35px 0;
  background-color: #283357;
  .div-bg-3{
    height: calc( 100vh - 449.5px );
    background-image: url(../../../../assets/image/fondo-4.png);
    .div-logo-isotipo{
      height: calc( 100vh - 449.5px );
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.content-form{
  /* margin-top: -58px; */
  background-color: #283357;
  .content-all{
    padding: 20px;
    background: #fff;
    border-radius: 35px 0 0px 0;
  }
  ion-item:first-child{
    margin-bottom: 18px;
  }
  .text-link{
    margin-top: 6.5px;
    text-align: end;
    a{
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      color: #161E38;
    }
  }
  .btn-primary{
    margin-top: 43.5px;
  }
  p.text-footer{
    margin: 0;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #424B6B;
    margin-top: 41.5px;
    margin-bottom: 40px;
    a{
      font-weight: 600;
    }
  }
}
