<app-header [type]="'back-title'" title="Regístrate" titleAlign="center">
  <ion-back-button defaultHref="/"></ion-back-button>
</app-header>

<ion-content class="ion-padding">
  <p class="text-subtitle">Datos personales</p>

  <form action="" class="" [formGroup]="form">
    <ion-item class="item-input-form" lines="none">
      <div class="w-100">
        <div class="custom-input">
          <ion-label for="name">Nombres*</ion-label>

          <ion-input
            id="name"
            formControlName="firstName"
            autofocus="true"
            maxlength="100"
            type="text"
            fill="solid"
            errorText="Campo requerido"
            placeholder="Nombres"
          ></ion-input>
        </div>

        <span
          *ngIf="submitted && f['firstName'].hasError('required')"
          class="span-error"
          >Campo requerido</span
        >
        <span *ngIf="f['firstName'].hasError('maxlength')" class="span-error"
          >Max. <strong>100</strong> dígitos</span
        >
        <span *ngIf="f['firstName'].hasError('minlength')" class="span-error"
          >Mín. <strong>2</strong> dígitos</span
        >
      </div>
    </ion-item>
    <ion-item class="item-input-form" lines="none">
      <div class="w-100">
        <div class="custom-input">
          <ion-label>Apellidos*</ion-label>
          <ion-input
            formControlName="lastName"
            type="text"
            maxlength="100"
            fill="solid"
            errorText="Campo requerido"
            placeholder="Apellidos"
          ></ion-input>
        </div>
        <span
          *ngIf="submitted && f['lastName'].hasError('required')"
          class="span-error"
          >Campo requerido</span
        >
        <span *ngIf="f['lastName'].hasError('maxlength')" class="span-error"
          >Max. <strong>100</strong> dígitos</span
        >
        <span *ngIf="f['lastName'].hasError('minlength')" class="span-error"
          >Mín. <strong>2</strong> dígitos</span
        >
      </div>
    </ion-item>
    <ion-item class="item-input-form" lines="none">
      <div class="w-100">
        <div class="custom-input">
          <ion-label>Teléfono</ion-label>

          <ion-input
            formControlName="phone"
            inputmode="numeric"
            maxlength="15"
            fill="solid"
            errorText="Campo requerido"
            placeholder="Teléfono"
          ></ion-input>
        </div>
        <span *ngIf="f['phone'].hasError('maxlength')" class="span-error"
          >Max. <strong>15</strong> dígitos</span
        >
        <span *ngIf="f['phone'].hasError('minlength')" class="span-error"
          >Mín. <strong>9</strong> dígitos</span
        >
      </div>
    </ion-item>

    <ion-item class="item-input-form" lines="none">
      <div class="w-100">
        <div class="custom-input">
          <ion-label>N° Documento</ion-label>

          <ion-input
            formControlName="documentNumber"
            type="text"
            maxlength="15"
            fill="solid"
            errorText="Campo requerido"
            placeholder="N° Documento"
          ></ion-input>
        </div>

        <span
          *ngIf="f['documentNumber'].hasError('maxlength')"
          class="span-error"
          >Max. <strong>15</strong> dígitos</span
        >
        <span
          *ngIf="f['documentNumber'].hasError('minlength')"
          class="span-error"
          >Mín. <strong>8</strong> dígitos</span
        >
      </div>
    </ion-item>

    <p class="text-subtitle">Credenciales</p>

    <ion-item class="item-input-form" lines="none">
      <div class="w-100">
        <div class="custom-input">
          <ion-label>Correo*</ion-label>
          <ion-input
            formControlName="email"
            inputmode="email"
            maxlength="100"
            fill="solid"
            errorText="Correo inválido"
            placeholder="usuario@gmail.com"
          ></ion-input>
        </div>
        <span
          *ngIf="f['email'].hasError('email') && !f['email'].hasError('required')"
          class="span-error"
          >Formato inválido</span
        >
        <span
          *ngIf="submitted && f['email'].hasError('required')"
          class="span-error"
          >Campo requerido</span
        >
        <span *ngIf="f['email'].hasError('maxlength')" class="span-error"
          >Max. <strong>100</strong> dígitos</span
        >
        <span *ngIf="f['email'].hasError('minlength')" class="span-error"
          >Mín. <strong>6</strong> dígitos</span
        >
      </div>
    </ion-item>
    <ion-item class="item-input-form" lines="none">
      <div class="w-100">
        <div class="custom-input">
          <ion-label>Contraseña*</ion-label>
          <div class="d-flex">
            <ion-input
              formControlName="password"
              maxlength="15"
              placeholder="***************"
              [type]="hide ? 'password' : 'text'"
            >
            </ion-input>
            <ion-button
              fill="clear"
              slot="end"
              aria-label="Show/hide"
              (click)="hide = !hide"
            >
              <ion-icon
                slot="icon-only"
                [name]="hide ? 'eye-theme' : 'eye-off-theme'"
                aria-hidden="true"
              ></ion-icon>
            </ion-button>
          </div>
        </div>
        <span
          *ngIf="submitted && f['password'].hasError('required')"
          class="span-error"
          >Campo requerido</span
        >
        <span *ngIf="f['password'].hasError('maxlength')" class="span-error"
          >Max. <strong>15</strong> dígitos</span
        >
        <span *ngIf="f['password'].hasError('minlength')" class="span-error"
          >Mín. <strong>6</strong> dígitos</span
        >
      </div>
    </ion-item>
    <ion-item class="item-input-form" lines="none">
      <div class="w-100">
        <div class="custom-input">
          <ion-label>Repetir contraseña*</ion-label>
          <div class="d-flex">
            <ion-input
              formControlName="confirmPassword"
              maxlength="15"
              placeholder="***************"
              [type]="hideConfirm ? 'password' : 'text'"
            >
            </ion-input>
            <ion-button
              fill="clear"
              slot="end"
              aria-label="Show/hide"
              (click)="hideConfirm = !hideConfirm"
            >
              <ion-icon
                slot="icon-only"
                [name]="hideConfirm ? 'eye-theme' : 'eye-off-theme'"
                aria-hidden="true"
              ></ion-icon>
            </ion-button>
          </div>
        </div>
        <span
          *ngIf="f['confirmPassword'].hasError('passwordMismatch')"
          class="span-error"
          >Las contraseñas deben ser iguales</span
        >
        <span
          *ngIf="submitted && f['confirmPassword'].hasError('required')"
          class="span-error"
          >Campo requerido</span
        >
        <span
          *ngIf="f['confirmPassword'].hasError('maxlength')"
          class="span-error"
          >Max. <strong>15</strong> dígitos</span
        >
      </div>
    </ion-item>

    <p class="w-100 privacy">
      Al continuar, aceptas la <a href="https://www.lagom.pe/web/pdf/Confidenciality_Statement.pdf">Política de privacidad</a> de Lagom
    </p>

    <div class="button-submit ion-text-center">
      <ion-button
        expand=""
        color="primary"
        class="btn-primary"
        type="submit"
        [disabled]="submitted"
        (click)="send()"
        >Continuar</ion-button
      >
    </div>
  </form>
</ion-content>
