p.text-subtitle {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #000000;
  margin-top: 35px;
  margin-bottom: 20px;
  &:first-child {
    margin-top: 17px;
  }
}

form {
  ion-item:not(:first-child) {
    margin-top: 12px;
  }
}

.privacy {
  text-align: center;
  font-size: 15px;

  a {
    color: var(--secondary-lagom) !important;
    text-decoration: none;
  }
}

.btn-primary {
  width: 195px;
  margin-top: 50px;
  margin-bottom: 50px;
}
