/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import "./theme/header.scss";
@import "./theme/form.scss";
@import "./theme/custom-colors.scss";
@import "./theme/utilities.scss";
@import "./theme/accordion.scss";
@import "./theme/modal.scss";

:root{
  --primary-lagom: #283357;
  --secondary-lagom: #BB9E70;
  --ion-font-family: "Montserrat", sans-serif;

  --ion-color-step-650: #BB9E70; //

}
*{
  font-family: "Montserrat", sans-serif;
}
*:not(ion-icon) {
  font-family: 'Montserrat', sans-serif!important;
}

ion-footer{
  background: #fff;
  box-shadow: none !important;
}

ion-content.ion-padding{
  --padding-start: 20px !important;
  --padding-end: 20px !important;
  --padding-top: 20px !important;
  --padding-bottom: 20px !important;
}

ion-button.btn-primary{
  --background: #283357;
  height: 60px;
  font-size: 15px;
  font-weight: 500;
  line-height: 15px;
  text-transform: initial;
  --border-radius: 7.5px;
  --box-shadow: -4.5px -4.5px 7.5px 0px #161E381A;
}

ion-color{
  color: var(--secondary-lagom);
}
