.grid-header {
  h5 {
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    color: #00000099;
    margin: 0;
  }
  ion-col {
    &.ion-text-end {
      padding-right: 7px;
    }
    &.ion-text-start {
      padding-left: 7px;
    }
  }
  .text-amount {
    font-size: 24px;
    line-height: 40px;
    font-weight: 600;
    color: #000000;
    margin: 0;
    display: flex;
    align-items: center;
    span {
      font-size: 16px;
      font-weight: 600;
      padding-right: 8px;
    }
  }
}
.options {
  padding: 20px 20px 6px;
  overflow-x: auto;
  .option-box {
    box-shadow: 4px 4px 10px 0px #161e380f, -4px -4px 10px 0px #161e380f;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #000000;
    padding: 8px 14px 10px;
    border-radius: 4px;
    min-height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    &:not(:first-child) {
      margin-left: 12px;
    }
    &.active {
      background: var(--secondary-lagom);
      color: #ffffff;
      font-weight: 700;
    }
  }
}
form {
  padding: 20px;
  .content-choose-image{
    .div-grid{
      &.image-fill{
        display: grid;
        grid-template-columns: auto 49px;
      }
    }
    .content-image {
      background: #bb9e7033;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px dashed var(--secondary-lagom);
      border-radius: 4px;
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
      color: var(--secondary-lagom);
      ion-icon{
        width: 24px;
        height: 24px;
        margin-right: 12px;
      }
    }
    ion-icon{
      width: 32px;
      height: 32px;
      align-self: center;
      justify-self: right;
      margin-right: 5px;
    }
  }
}
ion-footer{
  padding: 0 0px 50px;
  .btn-primary{
    width: 195px;
  }
}
