<app-header [type]="'back-title'">
  <ion-back-button defaultHref="/padre/hijo/balance"></ion-back-button>
</app-header>

<ion-content [fullscreen]="true">
  <ion-grid class="grid-header">
    <ion-row>
      <ion-col size="6" class="ion-text-end">
        <img src="assets/image/svg/avatars/avatar-{{child.avatar}}.svg" alt="Slide Image">
      </ion-col>
      <ion-col size="6" class="ion-text-start ion-align-self-center">
        <h5>Saldo en la cuenta</h5>
        <p class="text-amount"><span>S/.</span> {{child.balanceAmount | currency :'':'':'1.2-2'}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="d-flex options">
    <div *ngFor="let item of listAmount" class="option-box" [ngClass]="{'active': selectedAmount == item}" (click)="selectedItem(item)">
      {{item | currency :'':'S/. ':'1.0-0'}}
    </div>
    <div class="option-box" [ngClass]="{'active': selectedAmount == 'Otros'}" (click)="selectedItem('Otros')">
      Otros
    </div>
  </div>
  <form action="" [formGroup]="form">
    <ion-item class="item-input-form" lines="none">
      <div class="w-100">
        <div class="custom-input">
          <ion-label for="amount">Monto asignado</ion-label>
          <ion-input id="amount" formControlName="amount" autofocus="true" inputmode="numeric" [max]="100000" fill="solid"
            errorText="Campo requerido" placeholder="S/.-"></ion-input>
        </div>
        <span *ngIf="submitted && f['amount'].hasError('required')" class="span-error">Campo requerido</span>
        <span *ngIf="f['amount'].hasError('max')" class="span-error">Número Max. <strong>100000</strong></span>
      </div>
    </ion-item>
    <p>Evidencia de pago</p>
    <div class="content-choose-image">
      <div class="div-grid" [ngClass]="{'image-fill': !!this.f['capturePhoto'].value}">
        <div class="content-image" (click)="presentActionSheet()">
          <ion-icon name="file-theme"></ion-icon> {{!!nameImage ? nameImage : 'Adjunta aqui'}}
        </div>
        <ion-icon (click)="clearImage()" *ngIf="!!this.f['capturePhoto'].value" name="delete-theme"></ion-icon>
      </div>
      <span *ngIf="submitted && f['capturePhoto'].hasError('required')" class="span-error">Campo requerido</span>
    </div>
  </form>
</ion-content>
<ion-footer class="ion-text-center">
  <ion-button expand="" color="primary" class="btn-primary" (click)="confirm()"
    >Recargar</ion-button
  >
</ion-footer>
